body {
   background: #555;
   color: #eee;
   font-family: "Open Sans", Arial, sans-serif;
}

h1 {
	font-weight: 200;
	color: white;
}

#content {
	height: 75%;
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: #777;
}

#list {
	height: 75%;
	width: 20%;
	border: 1px solid #aaa;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
	background-color: #777;
}

#info {
	border: 1px solid #aaa;
	background-color: #777;
	width: auto;
	border-radius: 5px;
	overflow: hidden;
	padding: 5px;
}

#search {
	border: 1px solid #aaa;
	background-color: #777;
	border-radius: 5px;
	overflow: hidden;
	width: 20%;
	height: 75%;
	display: inline-block;
	vertical-align: top;
}

.notfullscreen{
	width: 57%;
	overflow-y: scroll;
	overflow-x: scroll;
	display: inline-block;
}

.fullscreen{
	overflow-x: hidden;
	overflow-y: hidden;
	max-width: 100%;
	max-height: 100%;
	width: auto !important;
	display: absolute;
}

.notfullscreen img{

}

.fullscreen img{

}